.fa.fa-book{
  font-size: 100px;
  text-align: center;
}

#main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
  height: 60%;
  margin: auto;
  text-align: center;
}


h1, input::-webkit-input-placeholder, button {
  font-family: 'roboto', sans-serif;
  transition: all 0.3s ease-in-out;
}


h1 {
  height: 0px;
  width: 100%;
  font-size: 18px;
  background: darken(#e74c3c, 4%);
  color: white;
  line-height: 150%;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 2px 5px 1px rgba(0,0,0,0.2);
}

form {
  margin-top: 10% !important;
  width: 260px;
  margin: 0px auto 0;
  /* box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.2); */
  padding-bottom: 0px;
  border-radius: 0px;
  left: 0;
  right: 0;
  width: 50%;
}

input {
  height: 85%;
  text-align: center;
  margin: 0px auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
  display: block;
  border: none;
  padding: 0px 0;
  border-bottom: solid 1px #e74c3c;
  transition: all 0.3s cubic-bezier(.64,.09,.08,1);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, #e74c3c 4%);
  background-position: -200px 0;
  background-size: 200px 100%;
  background-repeat: no-repeat;
  color: darken(#e74c3c, 20%);
}

input:focus {
  border-bottom: solid 1px #e74c3c !important;
  box-shadow: 0 1px 0 0 #e74c3c !important;
}

button {
  border: none;
  background: #e74c3c;
  cursor: pointer;
  border-radius: 3px;
  padding: 6px;
  margin: 0px auto;
  width: 50%;
  color: white;
  margin-left: 0px;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
}

#credits{
  position: fixed;
  bottom: 10px;
  left: 10px;
  font-size: 10px;
}

/*Navigation and Effects*/
#nav-toggle {
  top: 5%;
  left: 5%;
  position: absolute;
  cursor: pointer;
  z-index: 3;
  padding: 10px 35px 16px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #e74c3c;
  position: absolute;
  display: block;
  content: '';
}

#nav-toggle span:before {
  top: -10px;
}

#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  transition: all 500ms ease-in-out;
}

#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}

#nav-toggle.active span:before {
  transform: rotate(45deg);
}

#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

/*Side Bar Navigation*/
#additionalFeatures{ 
  text-align: center;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0; 
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 30px;
  opacity: .8;
}

#features{
  margin-top: 15%;
}

h1{
  margin-bottom: 15%;
}

input, select, textarea{
  color: #e74c3c;
}