i {
  font-size: 100px;
  text-align: center;
}
#logo {

}

#main {
  /*
  top: 100;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center; */

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
  height: 30%;
  margin: auto;
  text-align: center;
}
